/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --colorFont: #fff;
    --colorFontSecondary: #cbd5e1;
    --colorBackground: #333;
    --colorPrimary1: #dbeafe;
    --colorPrimary2: #bfdbfe;
    --colorPrimary3: #93c5fd;
    --colorPrimary4: #60a5fa;
    --colorPrimary5: #3b82f6;
    --colorPrimary6: #2563eb;
    --colorPrimary7: #1d4ed8;
    --colorPrimary8: #1e40af;
    --colorPrimary9: #1e3a8a;
    --colorGray1: #f1f5f9;
    --colorGray2: #e2e8f0;
    --colorGray3: #cbd5e1;
    --colorGray4: #94a3b8;
    --colorGray5: #64748b;
    --colorGray6: #475569;
    --colorGray7: #334155;
    --colorGray8: #1e293b;
    --colorGray9: #0f172a;
    --colorSuccess: #198754;
    --colorDanger: #dc3545;
    --colorWarning: #ffc107;
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --fontPrimary: 'Inter var', sans-serif;
    --transition: all 0.15s ease-in-out;
    --spacingTight: -0.025em;
    --spacingWide: 0.025em;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --width-sm: 640px;
    --width-md: 768px;
    --width-lg: 1024px;
    --width-xl: 1280px;
    --width-2xl: 1536px;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--colorBackground);
    color: var(--colorFont);
    font-family: var(--fontPrimary);
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.75rem;
    line-height: 1;
}
h2 {
    font-size: 3rem;
    line-height: 1;
}
h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--colorPrimary5);
    color: var(--colorWhite);
    transition: var(--transition);
    border-radius: var(--radius-md);
    letter-spacing: var(--spacingWide);
    border: transparent;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--colorPrimary6);
}

.container {
    max-width: var(--width-xl);
    margin: 0 auto;
    width: 90vw;
}

.form {
    width: 90vw;
    max-width: 400px;
    background: #3f3f3f;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    padding: 2rem 2.5rem;
    transition: var(--transition);
    color: #f0f0f0;
}

.form:hover {
    box-shadow: var(--shadow-lg);
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.form-input,
.form-textarea,
.form-select {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius-md);
    background: var(--colorBackground);
    border: 1px solid var(--colorGray4);
    font-size: 1rem;
    color: var(--colorWhite);
}

.form-row {
    margin-bottom: 1rem;
}

.form-textarea {
    height: 7rem;
}

.form-btn {
    display: block;
    width: 100%;
    margin-top: 2rem;
}

.form-alert {
    color: var(--colorDanger);
    text-transform: capitalize;
}

.alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--radius-sm);
    text-align: center;
}

.alert-danger {
    color: var(--colorWhite);
    background-color: var(--colorDanger);
}

.alert-success {
    color: var(--colorWhite);
    background-color: var(--colorSuccess);
}

::placeholder {
    font-family: inherit;
}

/* END */
/* ==================================================================================================== */
