/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --colorPrimary1: #dbeafe;
    --colorPrimary2: #bfdbfe;
    --colorPrimary3: #93c5fd;
    --colorPrimary4: #60a5fa;
    --colorPrimary5: #3b82f6;
    --colorPrimary6: #2563eb;
    --colorPrimary7: #1d4ed8;
    --colorPrimary8: #1e40af;
    --colorPrimary9: #1e3a8a;
    --colorGray1: #f3f4f6;
    --colorGray2: #e5e7eb;
    --colorGray3: #d1d5db;
    --colorGray4: #9ca3af;
    --colorGray5: #6b7280;
    --colorGray6: #4b5563;
    --colorGray7: #374151;
    --colorGray8: #1f2937;
    --colorGray9: #111827;
    --colorGreen1: #22c55e;
    --colorGreen2: #16a34a;
    --colorRed1: #fca5a5;
    --colorRed2: #dc2626;
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --fontPrimary: 'Inter var', sans-serif;
    --transition: all 0.15s ease-in-out;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --width-sm: 640px;
    --width-md: 768px;
    --width-lg: 1024px;
    --width-xl: 1280px;
    --width-2xl: 1536px;
    --shadow-sm: 0 0 6px 1px rgb(0 0 0 / 0.1);
    --shadow-md: 0 0 9px 2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 0 15px 3px rgb(0 0 0 / 0.1);
    --shadow-xl: 0 0 20px 4px rgb(0 0 0 / 0.1);
    --shadow-2xl: 0 0 25px 5px rgb(0 0 0 / 0.1);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontPrimary);
    line-height: 1.5;
}

/* IMAGES */

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* LISTS & LINKS */

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* HEADINGS */

h1 {
    font-size: 3.75rem;
    line-height: 1;
}
h2 {
    font-size: 3rem;
    line-height: 1;
}
h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

/* CONTAINER */

.container {
    max-width: var(--width-lg);
    margin: 0 auto;
    width: 90vw;
}

/* BUTTONS & INPUTS */

.btn {
    display: inline-block;
    border: transparent;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: var(--transition);
    border-radius: var(--radius-md);
    background-color: var(--colorPrimary5);
    color: var(--colorWhite);
}

.btn:hover {
    background-color: var(--colorPrimary6);
}

input[type='checkbox'],
input[type='radio'] {
    height: 1rem;
    width: 1rem;
}

/* LOADING */

.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--colorPrimary5);
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--colorPrimary5) transparent transparent transparent;
}

.loading div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* FORMS */

.form {
    width: 90vw;
    height: fit-content;
    min-width: 300px;
    max-width: 400px;
    padding: 2rem 2.5rem;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    transition: var(--transition);
}

@media screen and (max-width: 400px) {
    .form {
        padding: 2rem 1.5rem;
    }
}

.form-row-title {
    color: var(--colorGray9);
    font-weight: 500;
    margin-bottom: 1rem;
}

.form-row {
    margin-bottom: 1rem;
}

.form-row-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    text-transform: capitalize;
    color: var(--colorGray9);
    margin-bottom: 0.5rem;
    letter-spacing: -0.01rem;
}

.form-label-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    color: var(--colorGray7);
    margin-bottom: 0.5rem;
    letter-spacing: -0.01rem;
}

.form-input,
.form-textarea,
.form-select {
    background-color: var(--colorWhite);
    color: var(--colorGray9);
    outline: 1px solid var(--colorGray3);
    border-radius: var(--radius-md);
    border: none;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
}

.form-input:focus,
.form-textarea:focus,
.form-select:focus {
    outline: 2px solid var(--colorPrimary5);
}

.form-input-flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: var(--colorGray7);
}

.form-textarea {
    height: 7rem;
}

.form-select,
.form-option {
    text-transform: capitalize;
    padding: 0.5rem;
}

.form-btn {
    display: block;
    width: 100%;
}

.form-forgot-password {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--colorPrimary5);
    letter-spacing: -0.01rem;
    text-transform: none;
}

.form-input-error {
    outline: 1px solid var(--colorRed1);
}

.form-input-error:focus {
    outline: 1px solid var(--colorRed1);
}

.form-input-success {
    outline: 1px solid var(--colorGreen1);
}

.form-input-success:focus {
    outline: 1px solid var(--colorGreen1);
}

.form-alert {
    margin-top: 0.5rem;
    font-size: 14px;
}

.form-alert-error {
    color: var(--colorRed2);
}

.form-alert-success {
    color: var(--colorGreen2);
}

/* END */
/* ==================================================================================================== */
